<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="applicationVersion" value="0.0.0.0" />
    <add key="applicationLogPath" value="C:\Users\Davor\Documents\c_history_a" />
    <add key="applicationTestMode" value="true" />
    <add key="saveDebugApplicationEvent" value="true" />
    <add key="username" value="miha" />
    <add key="apiKey" value="7CZTAaKgDByMwHcIT9" /> <!-- T: 7CZTAaKgDByMwHcIT9 P: WLZ9uqS64vrJoKcLpx-->
    <add key="apiSecret" value="uatnTACtdFYqY6XvNd8jy7iWzBOZ9GTtGxld" /> <!-- T: uatnTACtdFYqY6XvNd8jy7iWzBOZ9GTtGxld P: 0sCnM06llQCTS0IUSqh2WlLCWeP935PFABWn-->
    <add key="apiEndpoint" value="https://api.bybit.com" />
    <add key="spotStreamEndpoint" value="wss://stream.bybit.com/spot/public/v3" />
    <add key="delayedOrderInvoke" value="false" />
    <add key="delayOrderInvokeInMinutes" value="1" />
    <add key="buyOpenQuantity" value="10" />
    <add key="sellOpenQuantity" value="0.00044" />
    <add key="activeSymbolOrders" value="1" />
    <add key="tradeLimit" value="40" />
    <add key="aggressiveVolumePercentage" value="1" />
    <add key="passiveVolumePercentage" value="1" />
    <add key="totalVolumePercentage" value="1" />
    
    <!-- Miha config -->
    <add key="symbols" value="BTCUSDT" />
    <add key="candlesInBatch" value="60" />
    <add key="candleMinuteTimeframe" value="1" />
    <add key="priceLevelChanges" value="2" />
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>