EA_APB/bin/
EA_APB/DebugHost/
EA_APB/obj/
EA_APB/.vs/EA/v16/.suo
Crypto/CryptoBot/.vs/
Crypto/CryptoBot/CryptoBot/obj/
Crypto/CryptoBot/CryptoBot/bin/
Crypto/CryptoBot/CryptoBot/App.config
*.htm
Crypto/CryptoBot/Common/obj/
Crypto/CryptoBot/DataAnalyzer/obj/
Crypto/CryptoBot/MarketPlotter/obj/
Crypto/CryptoBot/MarketProxy/obj/
