<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="tradingSymbolNames" value="DE40"/> <!--GDAXI-->
    <!--<add key="generalTradingHours" value="9,10"/>
    <add key="specialTradingHours" value="9,10"/>-->
    <add key="takeProfit" value="3000"/>
    <add key="stopLoss" value="2500"/> <!--2500-->
    <add key="breakEven" value="400"/>
    <add key="lotSize" value="1"/>
    <add key="closureRate" value="500:20,1000:20,1500:20,2000:20,2500:20"/>
  </appSettings>
</configuration>