<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="tradingMode" value="false"/>
    <add key="apiKey" value="4km6IAm3ykATQMVeVV"/>
    <add key="apiSecret" value="wxnaMLzUMq5XcdhYuptd68Pl4zf7mTvBU3XJ"/>
    <add key="symbols" value="SOLUSDT"/>
    <add key="candleTimeframe" value="1"/>
    <add key="marketRawDataDirectory" value="C:\Users\Davor\Downloads"/>
    <add key="marketAnalyzerDataDirectory" value="C:\Users\Davor\Downloads"/>
    <add key="applicationEventDataDirectory" value="C:\Users\Davor\Downloads"/>
    <add key="openOrdersPerSymbol" value="1"/>
  </appSettings>
</configuration>