<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="tradingSymbolNames" value="EURUSD"/>
    <!--<add key="generalTradingHours" value="9,10"/>
    <add key="specialTradingHours" value="9,10"/>-->
    <add key="takeProfit" value="100"/>
    <add key="stopLoss" value="100"/>
    <add key="breakEven" value="10"/>
    <add key="lotSize" value="0.5"/>
    <add key="closureRate" value="10:20,20:20,30:30,40:30"/>
  </appSettings>
</configuration>